<div class="container" mt-3 mb-5>
  <h1 class="text-center mb-5">注文内容の確認</h1>

  <div class="col-md-6 mx-auto mb-5">
    <p>以下の内容でよろしいでしょうか？</p>
    <div class="mb-3">
      <div class="form-label border-start border-primary border-4 ps-1">
        <%= t('activerecord.attributes.order.name') %>
      </div>
      <%= @order.name %>
    </div>

    <div class="mb-3">
      <div class="form-label border-start border-primary border-4 ps-1">
        <%= t('activerecord.attributes.order.email') %>
      </div>
      <%= @order.email %>
    </div>

    <div class="mb-3">
      <div class="form-label border-start border-primary border-4 ps-1">
        <%= t('activerecord.attributes.order.telephone') %>
      </div>
      <%= @order.telephone %>
    </div>

    <div class="mb-3">
      <div class="form-label border-start border-primary border-4 ps-1">
        <%= t('activerecord.attributes.order.delivery_address') %>
      </div>
      <%= @order.delivery_address %>
    </div>
    <div class="mb-3">
      <div class="form-label border-start border-primary border-4 ps-1">
        <%= t('activerecord.attributes.order.payment_method_id') %>
      </div>
      <%= @order.payment_method.name %>
    </div>
    
    <div class="mb-3">
      <div class="form-label border-start border-primary border-4 ps-1">
        <%= t('activerecord.attributes.order.order_products') %>
      </div>
      <% @order.order_products.each do |order_product| %>
        <div class="border border-secondary border-1 rounded p-3 mb-3">
          <div class="mb-3">
            <div class="form-label border-start border-primary border-4 ps-1">
              <%= t('activerecord.attributes.order_product.product_id') %>
            </div>
            <%= order_product.name_and_price_text %>

            <div class="form-label border-start border-primary border-4 ps-1">
              <%= t('activerecord.attributes.order_product.quantity') %>
            </div>
            <%= order_product.quantity %>
          </div>          
        </div>
      <% end %>
      <span class="fs-5 fw-bold"><%= number_to_currency(@order.total_price) %>(税込み)</span>
    </div>

    <div class="mb-3">
      <div class="form-label border-start border-primary border-4 ps-1">
        <%= t('activerecord.attributes.order.other_comment') %>
      </div>
      <% if @order.other_comment.present? %>
        <%= simple_format(@order.other_comment) %>
      <% else %>
        <span class="text-secondary">（未記入）</span>
      <% end %>
    </div>
    <div class="mb-3">
      <div class="form-label border-start border-primary border-4 ps-1">
        <%= t('activerecord.attributes.order.direct_mail_enabled') %>
      </div>
      <%= @order.direct_mail_enabled_text %>
    </div>
    <div class="mb-3">
      <div class="form-label border-start border-primary border-4 ps-1">
        <%= t('activerecord.attributes.order.inflow_source_ids') %>
      </div>
      <%= @order.inflow_sources.map(&:name).join(',') %>
    </div>
  </div>

  <%= form_for @order, url: orders_path do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :telephone %>
    <%= f.hidden_field :delivery_address %>
    <%= f.hidden_field :payment_method_id %>
    <%= f.hidden_field :other_comment %>
    <%= f.hidden_field :direct_mail_enabled %>

    <% @order.inflow_source_ids.each do |inflow_source_id| %>
      <%= hidden_field_tag 'order[inflow_source_ids][]', inflow_source_id %>
    <% end %>

    <%= f.fields_for :order_products do |pf| %>
      <%= pf.hidden_field :product_id %>
      <%= pf.hidden_field :quantity %>
    <% end %>

    <div class="d-grid col-md-6 mx-auto mb-3">
      <%= f.button 'OK', class: 'btn btn-lg btn-primary' %>
    </div>
    <div class="d-grid col-md-6 mx-auto">
      <%= f.button '戻る', value: 'back', class: 'btn btn-lg btn-secondary' %>
    </div>
  <% end %>
</div>
